<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Color Changer</title>
    <style type="text/css">
        input {
            width: 100%;
        }
    </style>
</head>
<body>
<input  type="range" value="0", min="0", max="360", step="1"/>
<script type="text/javascript">
    const bodyElement = document.querySelector("body");
    const inputElement = document.querySelector("input");
    let xhr = new XMLHttpRequest();
    inputElement.addEventListener("change", (event) => {
        // event.preventDefault();
        xhr.open("POST", "/color");
        let color = "hsl(" + inputElement.value + ", 100%, 50%)";
        xhr.send(color);
    });
    xhr.addEventListener("load", (event) => {
        console.log(xhr.responseText);
        bodyElement.style.backgroundColor = xhr.responseText;
    });
    const polling = () => {
        xhr.open("GET", "/color");
        xhr.send();
    };
    window.setInterval(polling, 1000);
</script>
</body>
</html>
