<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Color Viewer</title>
</head>
<body>
<form><input name=color type="text" placeholder="type like #000000 or black"/></form>
<script type="text/javascript">
    const bodyElement = document.querySelector("body");
    const formElement = document.querySelector("form");
    const inputElement = document.querySelector("input");
    let xhr = new XMLHttpRequest();
    formElement.addEventListener("submit", (event) => {
        event.preventDefault();
        xhr.open("POST", "/color");
        xhr.send(inputElement.value);
        inputElement.value = "";
    });
    xhr.addEventListener("load", (event) => {
        bodyElement.style.backgroundColor = xhr.responseText;
    });
    const polling = () => {
        xhr.open("GET", "/color");
        xhr.send();
    };
    window.setInterval(polling, 1000);
</script>
</body>
</html>
